[Unit]
Description=Fedi block API

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=fba
WorkingDirectory=/opt/fedi-block-api/apis
ExecStart=node fedi_block_api.js

[Install]
WantedBy=multi-user.target
