[Unit]
Description=Fedi block API

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=fba
WorkingDirectory=/opt/fedi-block-api
ExecStart=uvicorn api:app --port 8069

[Install]
WantedBy=multi-user.target
