[Unit]
Description=Fetch blocks

[Service]
Type=simple
Restart=always
RestartSec=86400
User=
WorkingDirectory=/fedi-block-api
ExecStart=python3 fetch_blocks.py 
